# Toad matrix

## Read in data and look at some features

In [107]:
import pandas as pd
import numpy as np

In [108]:
df = pd.read_csv('../DATA/2017_data_cleaned.csv')

In [109]:
df.columns

Index(['MUSYM', 'Index', 'Year', 'Sheet_ID', 'Date', 'Date_survey_started',
       'Survey', 'No', 'Time', 'Y', 'X', 'SVL_mm', 'Color', 'Nuptial_Pads',
       'gravid', 'Sex', 'Adjusted_sex', 'Mass', 'COMMENTS', 'LOCAL_NAME',
       'FORM_NAME', 'ALLIAN_SCI', 'ALLIAN_ENG', 'ASSOC_SCI', 'AREASYMBOL',
       'MUKEY', 'Soil_description', 'Top_layer', 'Middle_layer',
       'Parent_material', 'Drainage', 'Hydric_soil_group', 'Hydric_soil',
       'lineOrig'],
      dtype='object')

In [110]:
df.head()

,MUSYM,Index,Year,Sheet_ID,Date,Date_survey_started,Survey,No,Time,Y,...,AREASYMBOL,MUKEY,Soil_description,Top_layer,Middle_layer,Parent_material,Drainage,Hydric_soil_group,Hydric_soil,lineOrig
0,29B,1024,2017,SCTR-11-MAY-2017-01,11-May-17,11-May-17,1,1,2109,4118573,...,VA695,120821,"Slagle fine sandy loam, 2 to 6 percent slopes",fine sandy loam,sandy clay loam,marine deposits,moderately well drained,C,No,0
1,29B,1025,2017,SCTR-11-MAY-2017-01,11-May-17,11-May-17,1,2,2109,4118577,...,VA695,120821,"Slagle fine sandy loam, 2 to 6 percent slopes",fine sandy loam,sandy clay loam,marine deposits,moderately well drained,C,No,1
2,29B,1026,2017,SCTR-11-MAY-2017-01,11-May-17,11-May-17,1,3,2109,4118569,...,VA695,120821,"Slagle fine sandy loam, 2 to 6 percent slopes",fine sandy loam,sandy clay loam,marine deposits,moderately well drained,C,No,2
3,29B,1028,2017,SCTR-11-MAY-2017-01,11-May-17,11-May-17,1,5,2119,4118555,...,VA695,120821,"Slagle fine sandy loam, 2 to 6 percent slopes",fine sandy loam,sandy clay loam,marine deposits,moderately well drained,C,No,3
4,29B,1029,2017,SCTR-11-MAY-2017-01,11-May-17,11-May-17,1,6,2121,4118544,...,VA695,120821,"Slagle fine sandy loam, 2 to 6 percent slopes",fine sandy loam,sandy clay loam,marine deposits,moderately well drained,C,No,4

In [111]:
len(df)

1151

In [112]:
df_clean = df[~df['Adjusted_sex'].isna()]

In [113]:
len(df_clean)

1151

In [114]:
df_clean.SVL_mm.unique()

array([61.6, 45.3, 44. , 42. , 38.3, 53.7, 48.6, 44.8, 49.6, 49.2, 40.3,
       35.3, 51.9, 37.9, 43.8, 51.2, 49.1, 54.6, 43.1, 46.2, 44.9, 47.8,
       39.1, 46.9, 54.8, 34.4, 35.2, 53.8, 60.2, 41.7, 51. , 42.4, 41.6,
       41.9, 48.3, 59.5, 36.6, 36.4, 44.7, 37.5, 40.7, 40.9, 31.5, 34.1,
       54. , 46.4, 38.4, 50.3, 38. , 39.8, 42.7, 34.6, 45.8, 45.7, 34.8,
       37.8, 38.5, 38.8, 36.1, 38.1, 46.7, 38.7, 54.5, 35.7, 49.9, 39.5,
       39. , 40.1, 42.3, 40.2, 47.4, 56.6, 37.4, 45. , 37.2, 47.9, 50.1,
       46.3, 41. , 47.1, 39.7, 40.8, 41.3, 32.9, 42.8, 44.3, 34.3, 40.5,
       41.2, 36.8, 39.4, 41.4, 35.5, 39.9, 46.8, 41.5, 47.2, 39.3, 33.1,
       36.3, 48.8, 43. , 34.9, 45.5, 37.1, 35. , 33.9, 40.4, 51.6, 31.7,
       36.5, 48.4, 43.5, 33.5, 47.7, 48.7, 44.2, 35.1, 58.3, 34.5, 33.4,
       47.5, 31.1, 47.6, 34.7, 53.4, 31.8, 37.6, 50.9, 33.7, 38.2, 36.2,
       36.9, 50.6, 57.7, 50.2, 55.8, 54.1, 43.7, 36.7, 36. , 32.3, 33.3,
       32.4, 37. , 40.6, 50.7, 42.1, 41.8, 51.4, 50.4, 34.2, 32.8, 31. ,
       31.2, 52.3, 32.7, 46. , 30.9, 43.4, 48.2, 31.4, 30.2, 32.6, 30.3,
       39.2, 31.3, 45.2, 35.6, 34. , 38.9, 51.1, 43.3, 35.8, 50. , 55.6,
       38.6, 52.6, 43.6, 42.2, 42.5, 51.8, 60.8, 35.9, 35.4, 45.4, 56.2,
       46.1, 49.7, 52. , 48.9, 42.9, 44.4, 43.2, 53.9, 49.5, 33.2, 37.7,
       37.3, 49.8, 59. , 53.2, 33. , 47. , 39.6, 46.6, 45.6, 49.4, 49.3,
       56. , 40. , 33.8, 46.5, 33.6, 50.8, 49. , 50.5, 48.1, 54.2, 56.1,
       45.1, 52.5, 55.5, 56.5, 59.8, 52.8, 52.2, 53.1, 44.6, 54.4, 43.9,
       60.9, 48.5, 59.6, 53.6, 52.9, 51.3, 51.5, 48. , 52.7, 41.1, 53.3,
       44.5, 45.9, 56.3, 47.3, 52.1, 52.4, 42.6, 54.7, 51.7, 44.1, 63.8,
       54.3, 53.5, 56.4, 55.2, 55.1, 57.5, 55.3, 66.2, 58.9, 57.4, 62.8,
       55. , 56.9, 58.7])

## Create rows for each entry in the matrix
Rows contain X, Y, SVL and demog for toad1 and toad2, as well as the distance between toad1 and toad2 and diffencence in SVL.

In [115]:
# set to the correct df!!
dataset = df_clean

rows = []
ntoads = len(dataset)
for i, x in dataset.iterrows():
    ax, ay, asvl, asex = x[['X', 'Y', 'SVL_mm', 'Adjusted_sex']].values
    for j, y in dataset.iterrows():
        bx, by, bsvl, bsex = y[['X', 'Y', 'SVL_mm', 'Adjusted_sex']].values
        try:
            dist = np.sqrt((ax - bx)**2 + (ay -by)**2)
            diff = np.abs(asvl-bsvl)
        except TypeError as e:
            print(ax, ay, asvl, asex, asvl)
            print(bx, by, bsvl, bsex, bsvl)
            print('---')
            raise e

        row = {
            'id1': i,
            'id2': j,
            'svl1': asvl,
            'svl2': bsvl,          
            'sex1': asex,
            'sex2': bsex,
            'dist': dist,
            'diff': diff,
        }
        rows.append(row)

In [117]:
len(rows)

1324801

In [118]:
output_df = pd.DataFrame.from_dict(rows)

In [119]:
len(output_df)

1324801

In [120]:
output_df.head()

   id1  id2  svl1  svl2 sex1 sex2       dist  diff
0    0    0  61.6  61.6    M    M   0.000000   0.0
1    0    1  61.6  45.3    M    F   4.123106  16.3
2    0    2  61.6  44.0    M    F   8.062258  17.6
3    0    3  61.6  42.0    M    S  42.047592  19.6
4    0    4  61.6  38.3    M    S  49.406477  23.3

In [121]:
output_df.to_csv('../DATA/20220117_2017_matrix.csv')

In [122]:
1151*1151

1324801